@media screen and (max-width:500px){
  .stack_Albumbs{
    padding: 30px 30px 30px 15px !important;
  }
  .Inicio_Song{
    flex-direction: column;
  }
  .SubTitle_Song{
    margin-left: 0px !important;
  }
  .listOptions{
    padding-top: 19px !important;
  }
  .submenu_Play{
    width: 100%;
    justify-content: space-evenly;
  }
  .repro_Play{
    padding: 0 !important;
    margin: auto !important;
  }
  .button_Submenu{
    margin-left: 0 !important;
  }
}